.header{
    display: block;
    background-color: #673A44;
    color: #ffff;
}

.container__header{
    padding: 7px 100px;
}

.header__content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header__list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 40px;
}

.header__list-link{
    text-decoration: none;
    color: #ffff;
    font-family: Arial;
    font-weight: 400;
    font-style: Regular;
    font-size: 12px;
    vertical-align: middle;

}

.header__login-img{
    vertical-align: middle;
    margin-right: 9px;
}


.header__login-text{
    text-decoration: none;
    color: #ffff;
    font-family: Arial;
    font-weight: 400;
    font-style: Regular;
    font-size: 12px;
    vertical-align: middle;

}



.logo{
    background-color: #F2F2F2;
}

.logo__img{
    display: flex;
    height: 46px;

}