.header{
    display: block;
    background-color: #673A44;
    color: #ffff;
    position: fixed;
    width: 100%;
}

.container__header, .container__first{
    padding: 7px 100px;
}

.header__content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header__list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 40px;
}

.header__list-link{
    text-decoration: none;
    color: #ffff;
    font-family: Arial;
    font-weight: 400;
    font-style: Regular;
    font-size: 15px;
    vertical-align: middle;

}

.header__login-img{
    vertical-align: middle;
    margin-right: 9px;
}


.header__login-text{
    text-decoration: none;
    color: #ffff;
    font-family: Arial;
    font-weight: 400;
    font-style: Regular;
    font-size: 15px;
    vertical-align: middle;

}



.logo{
    padding-top: 40px;
    background-color: #F2F2F2;
}

.logo__img{
    display: flex;
    height: 46px;

}



.first__top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
    height: 568px;
}

.first__left{
    margin-top: 100px;
}

.first__left-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: re;
}

.first__title{
    width: 450px;
    /* height: 140; */
    font-size: 70px;
    line-height: 70px;
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.first__subtitle{
    font-family: Arial;
    font-weight: 400;
    font-style: Regular;
    font-size: 24px;
    line-height: 36px;
    width: 472px;
    margin-top: 28px;
    margin-bottom: 50px;
}

.first__btn-btn{
    width: 420px;
    border-radius: 6px;
    gap: 10px;
    padding: 20px;
    background-color: #843546;
    border: none;
    cursor: pointer;

    font-weight: 600;
    font-size: 15px;
    line-height: 100%;
    color: #ffff;
    font-family: "Work Sans", sans-serif;
}

.first__stars{
    z-index: 3;
}

.first__sign-up{
    height: 568px;
    margin-bottom: 60px;
}

.first__content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 10;
    margin-top: 60px;
}

.first__content-item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 697px;
    border-radius: 25px;
    box-shadow: 10px 5px 5px #F2F2F2; 
    padding: 46px 40px;
    gap: 160px;
}


.first__item-title{
    font-family: Arial;
    font-weight: 700;
    font-style: Bold;
    font-size: 40px;
    line-height: 100%;

}

.first__item-subtitle{
    font-family: Arial;
    font-weight: 400;
    font-style: Regular;
    font-size: 24px;
    line-height: 36px;
    width: 420px;
    margin-top: 30px;

}



.servise__container{
    padding: 65px 300px;
}

.servise__title{
    font-family: Arial;
    font-weight: 700;
    font-style: Bold;
    font-size: 60px;
    line-height: 76px;
    text-align: center;
    margin-top: 40px;

}

.servise__list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 40px;
    margin-top: 50px;
}

.servise__list-item{
    padding: 50px 54px;
    box-shadow:5px 5px 5px #F2F2F2 ;
}

.servise__list-description{
    margin-top: 30px;
}

.servise__list-title{
    width: 302px;
    font-family: Arial;
    font-weight: 700;
    font-style: Bold;
    font-size: 40px;
    line-height: 100%;
}

.servise__list-subtitle{
    font-family: Arial;
    font-weight: 400;
    font-style: Regular;
    font-size: 24px;
    line-height: 36px;
    width: 302px;
    margin-top: 40px;

}


.operation__container{
    padding:0 500px;
}

.operation__img{
  display: flex;
  align-items: center; 
  justify-content: center;
  width: 100%;
  height: 100%;
  border: 1px;
  margin-bottom: 100px;

}




.management{
    background-color: #F2F2F2;
}

.management__container{
    padding: 110px 253px;
}

.management__content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.management__top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 65px;
}

.management__top-title{
    font-family: Arial;
    font-weight: 700;
    font-style: Bold;
    font-size: 60px;
    line-height: 76px;
}

.management__top-subtitle{
    font-family: Arial;
    font-weight: 400;
    font-style: Regular;
    font-size: 24px;
    line-height: 36px;
}

.management__bottom{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 54px 92px;
}

.management__bottom-link{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* background-color: #673A44; */
    text-decoration: none;
    color: black;
    margin-top: 84px;
}

.management__bottom-title{
    font-family: Arial;
    font-weight: 700;
    font-style: Bold;
    font-size: 40px;
    line-height: 100%;
}

.management__bottom-subtitle{
    font-family: Arial;
    font-weight: 400;
    font-style: Regular;
    font-size: 24px;
    line-height: 36px;
    margin-top: 30px;
}

.management__bottom-img{
    height: 80px;
    margin-right: 58px;
}



.work__container{
    padding: 99px 253px 65px 256px;
}

.work__content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 120px;
}

.work__title{
    font-family: Arial;
    font-weight: 700;
    font-style: Bold;
    font-size: 60px;
    line-height: 76px;
}

.work__subtitle{
    font-family: Arial;
    font-weight: 400;
    font-style: Regular;
    font-size: 24px;
    line-height: 36px;
}



.arshin__container{
    padding: 0 340px 50px 340px;
}

.arshin__title{
    font-family: Arial;
    font-weight: 700;
    font-style: Bold;
    font-size: 60px;
    line-height: 76px;
    text-align: center;
}

.arshin__description{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 50px 200px 0 200px;
}

.arshin__description-item{
    box-shadow: 15px 10px 10px #F2F2F2;
    border-radius: 25px;
    width: 267px;
    height: 200px;
    padding: 46px 20px 36px 20px;
}

.arshin__description-link{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-decoration: none;
    color: black;
}

.arshin__description-img{
    margin-bottom: 25px;
}

.arshin__description-img{
    width: 77px;
    align-self: center;
}

.arshin__description-title{
    font-family: Arial;
    font-weight: 700;
    font-style: Bold;
    font-size: 30px;
    line-height: 100%;
    text-align: center;
    margin-top: 25px;
}


.result__container{
    padding: 0px 397px 180px 397px;
}



.api__container{
    padding: 0px 250px 100px 320px;
}

.api__content{
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    gap: 63px;
}

.api__img{
    height: 521px;
}

.api__description{
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    gap: 40px;
}

.api__description-item{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.api__title{
    font-family: Arial;
    font-weight: 700;
    font-style: Bold;
    font-size: 60px;
    line-height: 76px;

}

.api__subtitle{
    font-family: Arial;
    font-weight: 400;
    font-style: Regular;
    font-size: 24px;
    line-height: 36px;
}



.automation{
    background-color: #F2F2F2;
}


.automation__container{
    padding:110px 253px ;
}

.automation__content{
    display: flex;
    flex-direction: row;
    gap: 65px;
}

.automation__description{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.automation__title{
    font-family: Arial;
    font-weight: 700;
    font-style: Bold;
    font-size: 60px;
    line-height: 76px;
}

.automation__subtitle{
    font-family: Arial;
    font-weight: 400;
    font-style: Regular;
    font-size: 22px;
    line-height: 36px;
}

.automation__bottom{
    display: flex;
    flex-direction: row;
    gap: 113px;
}

.automation__bottom-item{
    display: flex;
    flex-direction: row;
    gap: 45px;
}

.automation__bottom-img{
    height: 98px;
}

.automation__bottom-description{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.automation__bottom-title{
    font-family: Arial;
    font-weight: 700;
    font-style: Bold;
    font-size: 40px;
    line-height: 100%;
}

.automation__bottom-subtitle{
    font-family: Arial;
    font-weight: 400;
    font-style: 600;
    font-size: 24px;
    line-height: 36px;

}






/* 
@media(max-width:1150px){
    .container__header{
        padding:7px 38px;
    }

    .first__sign-up{
        height: 363px;
    }

    .first__left{
        margin-top: 38px;
    }

    .first__subtitle{
        font-size: 21px;
        margin-bottom: 38px;
    }

    .first__content{
        margin-bottom: 20px;
    }

    .first__content-item{
        gap: 0px;
    }

    .first__item-title{
        font-size: 24px;
    }

    .first__item-subtitle{
        font-size: 16px;
        width: 243px;
    }

    .first__content{
        margin-top: 0;
    }

}

@media(max-width: 970px){
    .first__top{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 20px;
    }


    .first__content{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 20px;
    }

    .first__item-subtitle{
        width: 300px;
    }
} */